[user]
	name = Matt Gukowsky
	email = mgukowsky@gmail.com
[init]
	defaultBranch = main
[commit]
	template = /home/mgukowsky/.gitmessage
[pull]
	rebase = false
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
[merge]
  tool = nvimdiff2
  conflictStyle = zdiff3
[mergetool]
  keepBackup = false
  prompt = false
  hideResolved = true
[mergetool "nvimdiff2"]
  trustExitCode = false

[core]
  pager = delta

; Enables `git clone gh:org/repo` shorthand
[url "git@github.com:"]
    insteadOf = gh:

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  syntax-theme = Monokai Extended
  line-numbers = true
  features = decorations
  navigate = true

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue ul
  hunk-header-file-style = yellow
  hunk-header-line-number-style = blue
  hunk-header-style = file line-number syntax
  minus-emph-style = reverse red
  plus-emph-style = reverse green
  tabs = 2

[color "diff"]
	newMoved = reverse cyan
  oldMoved = reverse yellow
