# .inputrc configures the readline library, used by shells (i.e. bash),
# REPLs (i.e. python), and others.

# Include good stuff from the vanilla inputrc
$include /etc/inputrc

# vi everywhere
set editing-mode vi

# Indicate current mode in prompt
set show-mode-in-prompt on
set vi-cmd-mode-string N>\x20
set vi-ins-mode-string I>\x20

