"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = false

format = """
$shlvl\
$singularity\
$kubernetes\
$directory\
$vcsh\
$fossil_branch\
$fossil_metrics\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$hg_state\
$pijul_channel\
$docker_context\
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$fortran\
$gleam\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$quarto\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$typst\
$vlang\
$vagrant\
$zig\
$buf\
$nix_shell\
$conda\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$nats\
$direnv\
$env_var\
$mise\
$crystal\
$custom\
$line_break\
$os\
$container\
$netns\
$shell\
$character"""

right_format = """
$cmd_duration\
$battery\
$sudo\
$status\
$jobs\
$username\
$hostname\
$localip\
$time"""

[aws]
symbol = " "

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
disabled = false
symbol = " "

[cmake]
disabled = true
symbol = " "

[cmd_duration]
format = '[ $duration]($style) '
style = "yellow"

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[directory]
format='[ $path]($style)[$read_only]($read_only_style) '
read_only = " 󰌾"
style = 'blue'
# Always show entire path
truncation_length = 0
truncate_to_repo = false

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style)'
style = "green"
symbol = " "

[git_commit]
tag_disabled = false
tag_symbol = '  '

[git_status]
format = '([$all_status$ahead_behind]($style) )'
ahead	= '[ ⇡$count](green)'
behind = '[ ⇣$count](green)'
# This one is first in $all_status, so no leading space needed
conflicted = '[=$count](red)'
deleted = '[ ✘$count](red)'
diverged = '[ ⇕⇡$ahead_count⇣$behind_count](green)'
modified = '[ !$count](yellow)'
renamed = '[ »$count](yellow)'
staged = '[ +$count](yellow)'
stashed	= '[ *$count](green)'
untracked	= '[ ?$count](blue)'

[golang]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[jobs]
format = '[$symbol$number]($style)'
style = "red"
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os]
disabled = false

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
detect_extensions = []
detect_files = []
detect_folders = ["venv", ".venv"]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
disabled = false
map_symbol = true
pipestatus = true
symbol = "✘ "
not_executable_symbol = " "
not_found_symbol = " "
sigint_symbol = " "
signal_symbol = " "

[sudo]
disabled = false
format = '[$symbol]($style)'
style = "bold purple"
symbol = " "

[swift]
symbol = " "

[time]
disabled = false
format = '[ $time]($style)'
style = "cyan"

[xmake]
symbol = " "

[zig]
symbol = " "
