{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Debug build",
      "type": "shell",
      "command": "make CMAKE_BUILD_TYPE=Debug",
      "problemMatcher": [],
      "group": {
        "kind": "build",
        "isDefault": true
      }
    }
  ]
}
